@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:rgb(32, 32, 32)
}

/* Logo */

h1 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

h1 > span {
    text-transform: capitalize;
}

#logo {
    float: left;
    font-size: 250%;
}