@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:rgb(32, 32, 32)
}

/* font classes */

.text-uppercase {
    text-transform: uppercase;
}

/* logo and header */

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    color: white;
}

h1 > span {
    text-transform: capitalize;
}

#logo { /* logo style */
    float: left;
    font-size: 250%;
    line-height: 7.5vh;
    margin-left: 25px;
}

header { /* set color to header */
    background-color: rgb(33, 33, 33);
}

#page-header { /* set height to header */
    height: 7.5vh;
}

/* about deege */

#about-deege {
    background-color: black;
    position: absolute;
    height: max-content;
    width: 100%;
}

.float-left {
    float: left;
}

.margin-left {
    margin-left: 450px;
}

.float-right {
    float: right;
}

.margin-right {
    margin-right: 450px;
}

#about-deege div {
    width: 20%;
    height: 500px;
    display: inline-block;
}

/* about deege image */

#about-deege img {
    width: 192px;
    position: relative;
    margin-top: 15%;
    float: right;
    border-radius: 20px;
}
/*
#avatar {
    position: relative;
    left: 33%;
}
*/
#text-box {
    position: relative;
    left: 33%;
    bottom: 200px;
}

.about-box {
    display: inline-block;
}

#avatar > img {
    width: 256px;
    height: 256px;
}

#text-box > p {
    color: rgb(164, 164, 164);
}